<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    
  <form>
    {% for course in courses %}
      {% if course.adv_vers == None %}
      <input type="checkbox" name="course" value="Bike">{{course[0]}} {{course[1]}} {{course[2]}}<br>
      {% else %}
      <input type="checkbox" name="course" value="Bike">{{course[0]}} {{course[1]}} {{course[2]}} or {{course[3][0]}} {{course[3][1]}} {{course[3][2]}}<br>
      {% endif %}
    {% endfor %}
  </form>

    <p><b>Day*</b></p>
    <select>
        {% for date in dates %}
        <option value="{{meal_sched_name}}">Fri Dinner {{date[0].strftime("%B")}} {{date[0].strftime("%d")}}</option>
        <option value="{{meal_sched_name}}">Sat Lunch  {{date[1].strftime("%B")}} {{date[1].strftime("%d")}}</option>
        {% endfor %}
    </select>

    <p><b>Time*</b></p>
    <select>
        {% for time in times %}
        <option value="{{meal_sched_name}}">{{ time }}</option>
        {% endfor %}
    </select>  

    <p>Your guests' deadline to accept invitation (week of above date):</p>
    <select>
        {% for day in deadline_days %}
        {% if day == "Wednesday" %}
          <option selected="selected" value="{{dead_day}}"> {{ day }} </option>
        {% else %}
          <option value="{{dead_day}}"> {{ day }} </option>
        {% endif %}
        {% endfor %}
    </select>

    <select>
     {% for time in deadline_times %}
        {% if time == "6:00 pm" %}
         <option selected="selected" value="{{dead_time}}">{{time}}</option>
        {% else %}
         <option value="{{dead_time}}"> {{ time }} </option>
        {% endif %}
     {% endfor %}
    </select>  

    <p><b>Location*</b></p>
    <form action="/sign?meal_sched_name={{ meal_sched_name }}" method="post">
      <div><textarea name="location_main" rows="1" cols="25"></textarea></div>
        <p>If walking to the location, enter meetup place and time:</p>
     <div><textarea name="location_meetup" rows="1" cols="25"></textarea></div>
     <div><input type="submit" value="Plan Meal"></div>
    </form>


    <p><b>{{ invite_message }}</b></p>

    <hr>

    <form></form>Meal Schedule name:
      <input value="{{ meal_sched_name }}" name="meal_sched_name">
      <input type="submit" value="switch">
    </form>

  </body>
</html>
{% endautoescape %}