<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>   

  {% macro show_course_data(course) -%}
      {{course.dept}} {{course.course_num}} {{course.title}}
  {%- endmacro %}

  {% macro display_requirement(req, double=False) -%}
      <input type="checkbox" name={{req.dept}}{{req.course_num}}{{req.title_no_spaces}} >
          {{ show_course_data(req) }}
              {% if double %}
                   or {{ show_course_data(req.adv_vers) }}
              {% endif %}
      </input>
  {%- endmacro %}

  {% macro show_classes(course_list) -%}
    {% for course in course_list %}   
      {% if not course.adv_vers %}
        {{  display_requirement(course) }} <br>
      {% else %}
        {{  display_requirement(course, double=True) }} <br>
      {% endif %}
    {% endfor %}
  {%- endmacro %}

  <form action="/taken?" method="get">
      
      <div><input type="submit" value="Track"></div>

  <p><b>1.&nbsp;&nbsp;&nbsp;Core CS Classes</b></p>  
     
    <p>{{ show_classes(core_courses) }}</p>

  <p><b>2.&nbsp;&nbsp;&nbsp;Advanced CS Classes</b></p>
  
    <p>{{ show_classes(adv_courses) }}</p>      
  
  </form>    
    
  </body>
</html>
{% endautoescape %}