<!DOCTYPE html>
{% autoescape true %}
<html>
<body>

    {% macro show_specific_track(fulfill_pairs) -%}
        <table border="1">
            <tr>
                <th colspan="2"> {{ fulfill_pairs[0] }} </th>
            </tr>
            <tr>
                <th>Track Requirement</th>
                <th>Satisfied By</th>
            </tr>
            {% for sub_section in fulfill_pairs[1] %}
                {% for req, match in sub_section.items() %}
                    <tr>
                        <td>{{ req }}</td>
                        {% if match %}
                            <td>{{ match }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                    </tr>       
                {% endfor %}
            {% endfor %}
        </table>
    {%- endmacro %}

    {% for track_pairs in fulfill_pairs_list %}
        {{ show_specific_track(track_pairs) }}
    {% endfor %}
    
</body>
</html>
{% endautoescape %}
