<!DOCTYPE html>
{% autoescape true %}
<html>
<body>

    {# ***Results page after submission of courses taken.
       Shows progress for each CS track.*** #}


    {# for each rule print what class if any fulfilled it #}
      
    {% macro print_sub_sec(sub_section_req_fulf_pairs)%}
        {% for req, match in sub_section_req_fulf_pairs.items() %}
            <tr>
                <td>{{ req }}</td>
                {% if match %}
                    <td>{{ match }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
            </tr>       
        {% endfor %}
    {% endmacro %}

    
    {# Show general course requirements for track subsection #}

    {% macro print_track_sub_req_heading(minimum, num_sat, reqs, identifier) %}
        <tr>
           <th align="left">
                <i>Section {{identifier}}</i>:
                {% set length = reqs|length %}
                {% if length == num_sat %}
                    {{num_sat}} required courses
                {% else %}
                    {% if minimum%}
                        At least {{num_sat}} courses from this list
                    {% else %}
                        Up to {{num_sat}} courses from this list
                    {% endif %}
                {% endif %}
            </th>
        </tr>
    {% endmacro %}

    
    {# show all progress info for specific track #}

    {% macro show_specific_track(fulfill_pairs) %}
        {% set track = fulfill_pairs[0] %}
        <table border="1">
            <tr>
                <th colspan="2"> {{ track.title }} </th>
            </tr>
            <tr>
                <th>Track Requirement</th>
                <th>Satisfied By</th>
            </tr>
            {% set i = 0 %}
            {% for sub_section in fulfill_pairs[1] %}
                {{ print_track_sub_req_heading(track.track_subs[i].minimum, track.track_subs[i].num_classes, track.track_subs[i].course_reqs, track.track_subs[i].identifier) }}
                {{ print_sub_sec(sub_section) }}
                {% set i = i + 1 %}
            {% endfor %}
        </table>
    {% endmacro %}

    {# display each unfulfilled core class #}

    {% if unfulfilled_core_classes%}
        <b>Unfulfilled Core Classes (required for all tracks): </b>
        {% for unfulfilled_class in unfulfilled_core_classes %}
        <ul>
            <li>{{ unfulfilled_class }}</li>
        </ul>
        {% endfor %}
    {% endif %}


    {# for each track, display progress #}

    {% for track_pairs in fulfill_pairs_list %}
        {{ show_specific_track(track_pairs) }}
    {% endfor %}

    {{remaining_course_count_requirement_per_tracksub}}

</body>
</html>
{% endautoescape %}